<launch>
    <arg name="manager"     default="/camera/realsense2_camera_manager"/>
    <arg name="config_file" default="$(find vins)/../config/realsense/realsense_n3_unsync.yaml" />
    <node pkg="nodelet" type="nodelet" name="vins_fusion_nodelet" 
        args="load vins_nodelet_pkg/VinsNodeletClass $(arg manager)" output="screen" ns="vins_estimator">
        <param name="config_file" type="string" value="$(arg config_file)"/>
    </node> 
</launch>
